* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

header {
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: white;
    padding: 40px;
    text-align: center;
}

nav {
    background: #1f2937;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    background: #2563eb;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    animation: fadeIn 1s ease;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

img {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

/* ANIMASI */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1e40af;
}

#status {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}
/* =========================
   RESPONSIVE MOBILE
   ========================= */
@media (max-width: 768px) {

    header {
        padding: 25px 15px;
    }

    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #374151;
    }

    .container {
        margin: 15px;
        padding: 10px;
    }

    .card {
        padding: 18px;
    }

    img {
        width: 100%;
        max-width: 300px;
    }

    video {
        width: 100%;
    }

    audio {
        width: 100%;
    }

    input, textarea {
        font-size: 14px;
    }

    button {
        width: 100%;
    }

    footer {
        font-size: 13px;
        padding: 12px;
    }
}
